<!--
<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>AuditoriaPRO</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav class="sidebar">
  <h1 class="logo">AuditoriaPRO</h1>
  <ul class="nav-links">
    <li><a href="auditoria/checklist.html" >Checklist</a></li>
    <li><a href="dashboard.html" class="active">Resumo</a></li>
  </ul>
</nav>


<main class="content">
  <h2>Resumo dos Checklists</h2>

  <div class="card">
    <div class="card-header">
      <h2 th:text="${frase.titulo}">Processo de Desenvolvimento de Software</h2>
      <span class="status-badge">Conforme</span>
    </div>

    <p class="card-subtitle" th:text="${frase.descricao}">
      Checklist para validação do processo de desenvolvimento seguindo padrões CMMI
    </p>

    <div class="card-info">
      <div><i class="icon">☑</i> <span th:text="${frase.itens}">25 itens</span></div>
      <div><i class="icon">❌</i> <span th:text="${frase.naoconformidades}">8 NC</span></div>
      <div><i class="icon">✅</i> <span th:text="${frase.conformidades}">20 C</span></div>
      <div><i class="icon">⬜</i> <span th:text="${frase.naoaplicaveis}">1 NA</span></div>
    </div>

     <div class="card-progress">
      <span>Aderência Média</span>
      <span th:text="${frase.aderencia + '%'}">89%</span>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width: 89%;"></div>
    </div>

    <div class="card-actions">
      <a href="naoconformes.html" class="btn secondary">Vizualizar</a>
    </div>
  </div>

</main>
</body>
</html>
-->